.offers{
    width: 65px;
    height: 60vh;
    /* display: flex; */
    /* align-items: center; */
    /* margin: auto; */
    margin-left: 140px;
    /* padding: 0px 155px; */
    margin-bottom: 150px;
    /* background: linear-gradient(180deg, #fde1ff ,#e1ffea22 ); */
}
.offers-left{
    /* flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; */
    position: absolute;
    top: 190%;
    left: 28%;
}
.offers-left h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
   
}
.offers-left p{
    color: #171717;
    font-size: 22px;
    font-weight: 600;
}
.offers-left button{
    width: 150px;
    height: 50px;
    border-radius: 35px;
    background: #c36d22;
    border: 1px solid #7c3d05 ;
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}
/* .offers-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top:50px;
    margin-left: -17px;
} */